html {
  scroll-behavior: smooth;
}
body {
    padding: 1.5rem;
    margin: 0;
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 18px;
  }
h2, h3, footer{
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-size: 25px;
  }
h1{font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 40px;
}
ul.exp {
    list-style: none;
}
      
ul.exp li:before {
    content: '✓ ';
}
ul.messages{
    list-style: none;
    padding: 0%;
}
.footer-logo{
    width: 25px;
    padding: 10px 3px;
  }
  footer{
    display: flex;
    /* flex-direction: row-reverse; */
  }
.submit{
    background-color: #0077b7;
    border-radius: 2.5px;
    border: none;
    cursor: pointer;
    color:#fff;
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
}
.submit:hover{
    background-color: #086598;
}
button.remove{
    background-color: #f44336;
    border-radius: 2.5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color:#fff;
    margin-left: 10px;
    margin-top: 15px;
}
.card {
    width: 400px;
    height: auto;
    padding: 2rem;
    /* margin: auto; */
    border-radius: 1rem;
    background: rgba(255, 255, 255, .4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  }
  input[type=text], input[type=email], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text]:focus, input[type=email]:focus, textarea:focus{
    outline: none;
    border: 1px solid #555;
  }

.parent{
  display: flex;
  /* flex-flow: column wrap;
  justify-content: space-around; */
  /* align-items: center; */
  flex-wrap: wrap;
}
.right,.navbar  {
  flex-grow: 1;
  flex-basis: 50%;
  flex-shrink: 0;
}
.right:after, .navbar {
  content: "";
  flex: auto;
}
/* .navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  z-index: 200;
  background-color: white;
} */
ul.nav li a {
  list-style-type: none;
  color: #000;
  padding: 5px 5px;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  font-size: 25px;
}

li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
} 
@media all and (max-width: 800px){
 ul.nav {
  justify-content: space-around;
}
}

ul.nav {
  list-style-type: none;
}
ul.nav li::before {   
  content: '';   
  display: inline-block;   
  height: 40px;   
  width: 40px;    
  background-size: 20px;   
  background-image: url('/images/mouse4.svg');   
  background-repeat: no-repeat;   
  margin-right: 10px;
  background-position: center center;
  vertical-align: middle;
}
